/* Common styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

li{
    list-style-type: disc !important;
}
.content {
    padding: 20px;
}

/* Mobile styles */
.mobile {
    display: none;
}

/* Tablet styles */
@media only screen and (min-width: 600px) {
    .mobile {
        display: block;
    }
    .tablet {
        display: none;
    }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
    .tablet {
        display: block;
    }
    .desktop {
        display: none;
    }
}
